# 忽略掉某种类型的文件
*.pyc
*.sdf
*.suo
*.apk

# 忽略指定文件
/crown/crown.wpu
/proj.win32/shjs.opensdf
/proj.android/bin/resources.ap_

# 忽略指定文件夹
/proj.win32/Debug.win32/
/proj.android/obj/
/cocos2d/

/proj.win32/Debug.win32/
/proj.win32/Debug.win321/


